body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.background-set{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.pragraph{
    color: rgb(78, 76, 76);
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 100%;
}
.half-width a{
    text-decoration: none;
    color: white;
    background-color: rgba(255, 68, 0, 0.822);
    padding: 10px 40px;
    background-image: linear-gradient(lightsalmon,tomato);
    font-weight: 700;
    border-radius: 5px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 20px 25px 40px gray;
    text-align: justify;
    border-radius: 10px;
}
